$color-prymary: #FFF159;
$color-secundary: #ffffff;
$color-letter: #000000;
html{
    padding: 0;
}

body{
  margin: 0;
  background-color: #EEEEEE;
}
.App{
    .header{
     background-color: $color-prymary;
     height: 50px;
     padding-top: 8px;

    }

    .content-page{
        display: block;
    }

    .content-header{
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content:center;
        .logo{    
            width: 50px;
            background-image: url(./assets/Logo_ML.png);
            background-repeat: no-repeat;
            background-size: contain;
            height: 36px;
            overflow: hidden;
            margin-top: 3px;
        }

        .form-search{
            width: calc( 80% - 108px );
            display: flex;
            flex-direction: row;
            border: 1px solid #EEEEEE;
            border-radius: 2px;
            background-color: #ffffff;
            padding: 0;
            margin-left: 20px;
            .search-input{
                width: calc( 100% - 45px );
                height: 35;
                border: 0;
                padding:5px;
                margin-left: 3px;
            }
            .search-input:focus-visible {
                outline: -webkit-focus-ring-color auto 0px;
            }

            .search-button{
                width: 40px;
                height: 38px;
                border-radius: 0;
                background-image: url(./assets/ic_Search@2x.png);
                background-repeat: no-repeat;
                background-size: contain;
                background-color: #EEEEEE;
                background-size: 28px;
                background-position: center;
                border: 0;
                
            }
            .search-button:focus-visible {
                outline: -webkit-focus-ring-color auto 0px;
            }

        }

        
    }

    .list-product{
        background-color: #ffffff;
        width: 70%;
        margin: 0 auto;
        padding: 10px;
        margin-bottom: 100px;
    }

    .item{
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: start;
        border-bottom: 1px solid #EEEEEE;
        img{
            width: 150px;
            height: 150px;
            background-color: #EEEEEE;
        }
        .content-item{
            width: calc( 70%  - 150px );
            h2{
                font-size: 20px;
                font-weight: 600;
                color: #717171;
            }
            h3{
                font-size: 16px;
                font-weight: 500;
                color: #717171;
            }
        }

        .content-status{
            padding-top: 40px;
            width: 30%;
            h3{
                text-align: right;
                font-size: 16px;
                padding-right: 20px;
                font-weight: 500;
                color: #717171;
                margin: 0 auto;
            }
        }
    }


}